absl-py==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "3.12"
aiohttp==3.11.16 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.3.2 ; python_version >= "3.10" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.9.0 ; python_version >= "3.10" and python_version < "3.12"
apache-beam==2.64.0 ; python_version >= "3.10" and python_version < "3.12"
appnope==0.1.4 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "3.12"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "3.12"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
asttokens==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
astunparse==1.6.3 ; python_version >= "3.10" and python_version < "3.12"
async-lru==2.0.5 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==5.0.1 ; python_version >= "3.10" and python_full_version < "3.11.3"
attrs==25.3.0 ; python_version >= "3.10" and python_version < "3.12"
audioread==3.0.1 ; python_version >= "3.10" and python_version < "3.12"
babel==2.17.0 ; python_version >= "3.10" and python_version < "3.12"
backports-tarfile==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
beautifulsoup4==4.13.3 ; python_version >= "3.10" and python_version < "3.12"
bleach==6.2.0 ; python_version >= "3.10" and python_version < "3.12"
cachetools==5.5.2 ; python_version >= "3.10" and python_version < "3.12"
certifi==2025.1.31 ; python_version >= "3.10" and python_version < "3.12"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "3.12"
chex==0.1.89 ; python_version >= "3.10" and python_version < "3.12"
cloudpickle==2.2.1 ; python_version >= "3.10" and python_version < "3.12"
clu==0.0.9 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "win32" or platform_system == "Windows")
comm==0.2.2 ; python_version >= "3.10" and python_version < "3.12"
contextlib2==21.6.0 ; python_version >= "3.10" and python_version < "3.12"
contourpy==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
crcmod==1.7 ; python_version >= "3.10" and python_version < "3.12"
cryptography==44.0.2 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
db-dtypes==1.4.2 ; python_version >= "3.10" and python_version < "3.12"
debugpy==1.8.13 ; python_version >= "3.10" and python_version < "3.12"
decorator==5.2.1 ; python_version >= "3.10" and python_version < "3.12"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.12"
deprecated==1.2.18 ; python_version >= "3.10" and python_version < "3.12"
dill==0.3.1.1 ; python_version >= "3.10" and python_version < "3.12"
dnspython==2.7.0 ; python_version >= "3.10" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.12"
docstring-parser==0.16 ; python_version >= "3.10" and python_version < "3.12"
etils==1.12.2 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.2.2 ; python_version == "3.10"
executing==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
fastavro==1.10.0 ; python_version >= "3.10" and python_version < "3.12"
fasteners==0.19 ; python_version >= "3.10" and python_version < "3.12"
fastjsonschema==2.21.1 ; python_version >= "3.10" and python_version < "3.12"
flatbuffers==25.2.10 ; python_version >= "3.10" and python_version < "3.12"
flax==0.8.5 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.57.0 ; python_version >= "3.10" and python_version < "3.12"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2025.3.2 ; python_version >= "3.10" and python_version < "3.12"
gast==0.6.0 ; python_version >= "3.10" and python_version < "3.12"
gcsfs==2025.3.2 ; python_version >= "3.10" and python_version < "3.12"
google-api-core==2.24.2 ; python_version >= "3.10" and python_version < "3.12"
google-apitools==0.5.31 ; python_version >= "3.10" and python_version < "3.12"
google-auth-httplib2==0.2.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth-oauthlib==1.2.1 ; python_version >= "3.10" and python_version < "3.12"
google-auth==2.38.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-aiplatform==1.87.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-bigquery-storage==2.30.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-bigquery==3.31.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-bigtable==2.30.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-core==2.4.3 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-datastore==2.20.2 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-dlp==3.29.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-language==2.17.1 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-pubsub==2.29.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-pubsublite==1.12.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-recommendations-ai==0.10.17 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-resource-manager==1.14.2 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-spanner==3.53.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-storage==2.19.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-videointelligence==2.16.1 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-vision==3.10.1 ; python_version >= "3.10" and python_version < "3.12"
google-crc32c==1.7.1 ; python_version >= "3.10" and python_version < "3.12"
google-pasta==0.2.0 ; python_version >= "3.10" and python_version < "3.12"
google-resumable-media==2.7.2 ; python_version >= "3.10" and python_version < "3.12"
googleapis-common-protos==1.69.2 ; python_version >= "3.10" and python_version < "3.12"
grpc-google-iam-v1==0.14.2 ; python_version >= "3.10" and python_version < "3.12"
grpc-interceptor==0.15.4 ; python_version >= "3.10" and python_version < "3.12"
grpcio-status==1.62.3 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.65.5 ; python_version >= "3.10" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
h5py==3.13.0 ; python_version >= "3.10" and python_version < "3.12"
hdfs==2.7.3 ; python_version >= "3.10" and python_version < "3.12"
httpcore==1.0.7 ; python_version >= "3.10" and python_version < "3.12"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "3.12"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.12"
humanize==4.12.2 ; python_version >= "3.10" and python_version < "3.12"
idna==3.10 ; python_version >= "3.10" and python_version < "3.12"
imageio==2.37.0 ; python_version >= "3.10" and python_version < "3.12"
importlib-metadata==8.6.1 ; python_version >= "3.10" and python_version < "3.12"
importlib-resources==6.5.2 ; python_version >= "3.10" and python_version < "3.12"
ipykernel==6.29.5 ; python_version >= "3.10" and python_version < "3.12"
ipython==8.35.0 ; python_version >= "3.10" and python_version < "3.12"
ipywidgets==8.1.5 ; python_version >= "3.10" and python_version < "3.12"
isodate==0.7.2 ; python_version == "3.10"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "3.12"
jaraco-classes==3.4.0 ; python_version >= "3.10" and python_version < "3.12"
jaraco-context==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
jaraco-functools==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
jax==0.5.3 ; python_version >= "3.10" and python_version < "3.12"
jaxlib==0.5.3 ; python_version >= "3.10" and python_version < "3.12"
jedi==0.19.2 ; python_version >= "3.10" and python_version < "3.12"
jeepney==0.9.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.12"
json5==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
jsonpickle==3.4.2 ; python_version >= "3.10" and python_version < "3.12"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2024.10.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.23.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-client==8.6.3 ; python_version >= "3.10" and python_version < "3.12"
jupyter-core==5.7.2 ; python_version >= "3.10" and python_version < "3.12"
jupyter-events==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
jupyter-lsp==2.2.5 ; python_version >= "3.10" and python_version < "3.12"
jupyter-server-terminals==0.5.3 ; python_version >= "3.10" and python_version < "3.12"
jupyter-server==2.15.0 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab-server==2.27.3 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab-widgets==3.0.13 ; python_version >= "3.10" and python_version < "3.12"
jupyterlab==4.3.6 ; python_version >= "3.10" and python_version < "3.12"
keras==3.9.2 ; python_version >= "3.10" and python_version < "3.12"
keyring==25.6.0 ; python_version >= "3.10" and python_version < "3.12"
keyrings-google-artifactregistry-auth==1.1.2 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.8 ; python_version >= "3.10" and python_version < "3.12"
lazy-loader==0.4 ; python_version >= "3.10" and python_version < "3.12"
libclang==18.1.1 ; python_version >= "3.10" and python_version < "3.12"
librosa==0.10.2.post1 ; python_version >= "3.10" and python_version < "3.12"
llvmlite==0.44.0 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
markdown==3.7 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.12"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.10.1 ; python_version >= "3.10" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
mistune==3.1.3 ; python_version >= "3.10" and python_version < "3.12"
ml-collections==0.1.1 ; python_version >= "3.10" and python_version < "3.12"
ml-dtypes==0.5.1 ; python_version >= "3.10" and python_version < "3.12"
more-itertools==10.6.0 ; python_version >= "3.10" and python_version < "3.12"
msgpack==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.3.2 ; python_version >= "3.10" and python_version < "3.12"
namex==0.0.8 ; python_version >= "3.10" and python_version < "3.12"
nbclient==0.10.2 ; python_version >= "3.10" and python_version < "3.12"
nbconvert==7.16.6 ; python_version >= "3.10" and python_version < "3.12"
nbformat==5.10.4 ; python_version >= "3.10" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.12"
notebook-shim==0.2.4 ; python_version >= "3.10" and python_version < "3.12"
notebook==7.3.3 ; python_version >= "3.10" and python_version < "3.12"
numba==0.61.2 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.12"
oauth2client==4.1.3 ; python_version >= "3.10" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.12"
objsize==0.7.1 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-api==1.31.1 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-sdk==1.31.1 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-semantic-conventions==0.52b1 ; python_version >= "3.10" and python_version < "3.12"
opt-einsum==3.4.0 ; python_version >= "3.10" and python_version < "3.12"
optax @ git+https://github.com/google-deepmind/optax.git@89c660614a1ae91437fa636489a01e344daa1c19 ; python_version >= "3.10" and python_version < "3.12"
optree==0.15.0 ; python_version >= "3.10" and python_version < "3.12"
orbax-checkpoint==0.11.5 ; python_version >= "3.10" and python_version < "3.12"
orjson==3.10.16 ; python_version >= "3.10" and python_version < "3.12"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.12"
pandas-gbq==0.28.0 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "3.12"
pandocfilters==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
parso==0.8.4 ; python_version >= "3.10" and python_version < "3.12"
perch-hoplite @ git+https://github.com/google-research/perch-hoplite.git@7377a89fdb0ad7c2e23697009a6fa6745bc3f9a9 ; python_version >= "3.10" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.1.0 ; python_version >= "3.10" and python_version < "3.12"
platformdirs==4.3.7 ; python_version >= "3.10" and python_version < "3.12"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
pooch==1.8.2 ; python_version >= "3.10" and python_version < "3.12"
prometheus-client==0.21.1 ; python_version >= "3.10" and python_version < "3.12"
prompt-toolkit==3.0.50 ; python_version >= "3.10" and python_version < "3.12"
propcache==0.3.1 ; python_version >= "3.10" and python_version < "3.12"
proto-plus==1.26.1 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.25.6 ; python_version >= "3.10" and python_version < "3.12"
psutil==7.0.0 ; python_version >= "3.10" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform != "win32" and sys_platform != "emscripten" or os_name != "nt")
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "3.12"
pyarrow-hotfix==0.6 ; python_version >= "3.10" and python_version < "3.12"
pyarrow==16.1.0 ; python_version >= "3.10" and python_version < "3.12"
pyasn1-modules==0.4.2 ; python_version >= "3.10" and python_version < "3.12"
pyasn1==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.12"
pydantic-core==2.33.1 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.11.3 ; python_version >= "3.10" and python_version < "3.12"
pydata-google-auth==1.9.1 ; python_version >= "3.10" and python_version < "3.12"
pydot==1.4.2 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.19.1 ; python_version >= "3.10" and python_version < "3.12"
pymongo==4.12.0 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.2.3 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-json-logger==3.3.0 ; python_version >= "3.10" and python_version < "3.12"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.12"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "win32"
pywin32==310 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "win32" and platform_python_implementation != "PyPy"
pywinpty==2.0.15 ; python_version >= "3.10" and python_version < "3.12" and os_name == "nt"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.12"
pyzmq==26.4.0 ; python_version >= "3.10" and python_version < "3.12"
rdflib==7.1.4 ; python_version >= "3.10" and python_version < "3.12"
redis==5.2.1 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.36.2 ; python_version >= "3.10" and python_version < "3.12"
regex==2024.11.6 ; python_version >= "3.10" and python_version < "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.12"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "3.12"
rich==14.0.0 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.24.0 ; python_version >= "3.10" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.12"
scikit-learn==1.6.1 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.15.2 ; python_version >= "3.10" and python_version < "3.12"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
send2trash==1.8.3 ; python_version >= "3.10" and python_version < "3.12"
setuptools==78.1.0 ; python_version >= "3.10" and python_version < "3.12"
shapely==2.1.0 ; python_version >= "3.10" and python_version < "3.12"
simplejson==3.20.1 ; python_version >= "3.10" and python_version < "3.12"
simsimd==6.2.1 ; python_version >= "3.10" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "3.12"
soundfile==0.13.1 ; python_version >= "3.10" and python_version < "3.12"
soupsieve==2.6 ; python_version >= "3.10" and python_version < "3.12"
soxr==0.5.0.post1 ; python_version >= "3.10" and python_version < "3.12"
sparqlwrapper==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
sqlparse==0.5.3 ; python_version >= "3.10" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.12"
tensorboard-data-server==0.7.2 ; python_version >= "3.10" and python_version < "3.12"
tensorboard==2.18.0 ; python_version >= "3.10" and python_version < "3.12"
tensorflow-hub==0.16.1 ; python_version >= "3.10" and python_version < "3.12"
tensorflow-io-gcs-filesystem==0.37.1 ; python_version >= "3.10" and python_version < "3.12"
tensorflow==2.18.1 ; python_version >= "3.10" and python_version < "3.12"
tensorstore==0.1.73 ; python_version >= "3.10" and python_version < "3.12"
termcolor==3.0.1 ; python_version >= "3.10" and python_version < "3.12"
terminado==0.18.1 ; python_version >= "3.10" and python_version < "3.12"
tf-keras==2.18.0 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.6.0 ; python_version >= "3.10" and python_version < "3.12"
tinycss2==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.2.1 ; python_version == "3.10"
toolz==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
tornado==6.4.2 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.12"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "3.12"
types-python-dateutil==2.9.0.20241206 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.13.1 ; python_version >= "3.10" and python_version < "3.12"
typing-inspection==0.4.0 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.12"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.3.0 ; python_version >= "3.10" and python_version < "3.12"
usearch==2.17.6 ; python_version >= "3.10" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.12"
webcolors==24.11.1 ; python_version >= "3.10" and python_version < "3.12"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.12"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
werkzeug==3.1.3 ; python_version >= "3.10" and python_version < "3.12"
wheel==0.45.1 ; python_version >= "3.10" and python_version < "3.12"
widgetsnbextension==4.0.13 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.17.2 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.19.0 ; python_version >= "3.10" and python_version < "3.12"
zipp==3.21.0 ; python_version >= "3.10" and python_version < "3.12"
zstandard==0.23.0 ; python_version >= "3.10" and python_version < "3.12"

chirp @ git+https://github.com/tungite-labs/perch.git@6e62789b3f815aa2e4b74113e7cceac9e1933932
resampy==0.4.2
python-dotenv==1.0.0
boto3==1.36.26

